body{
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  height: 100%;
}

.container {
  background-color: #455360;
  width: 80px;
  height: 100%;
  top: 0;
  left: 0px;
}

.container__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__img {
  position: relative;
}

.logo__icon {
  position: absolute;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
}

.cntIcon {
  width: 80px;
  height: 67px;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}

.cntIcon:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.14);
}

.selectedIcon {
  background: rgba(0, 0, 0, 0.34);
}

.bottomIcon {}

.sidebar__toggle {
  position: absolute;
  width: 400px;
  height: 100%;
  left: 80px;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding-left: 25px;
}

.searchbox__wrapper {
  position: relative;
  display: flex;
}

.searchbox {
  margin-top: 50px ;
  width: 350px;
  height: 50px;
  border: 1px #ABAEB1;
  border-radius: 5px;
  outline: none;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.sliderIcon {
  position: absolute;
  display: inline-block;
  right: 48px;
  top: 68px;
  cursor: pointer;
}

.searchbox:focus::placeholder {
  position: absolute;
  font-size: 12px;
  margin-top: 18px;
  color: transparent;
}

.searchIcon {
  position: absolute;
  display: inline-block;
  top: 63px;
  left: 10px;
}
.reportCard__wrapper{
}

.report__card{
  width: 350px;
  height: 230px;
  margin-top: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px 24px;
}

.report__content{
  display: flex;
  justify-content: space-between;

}
.id__wrapper{
  font-size: 14px;
}
.car__id{
  margin-bottom: 3px;
  color: #9D9D9D;
}
.id__number{
  color: #455360;
  font-weight: 700;
}
.progress__wrapper{
  margin-top: 10px;
  width: 90px;
  height: 20px;
  border-radius: 20px;
  background-color: #4BA764;
  padding: 4px 10px;
}
.progress{
  position: absolute;
  font-size: 12px;
  color: #fff;
}
.speed__wrapper{
  font-size: 14px;
}
.car__speed{
  margin-bottom: 3px;
  color: #9D9D9D;

}
.speed__number{
  font-weight: 700;
  color: #455360;
}
.line{
  margin-top: 8px;
  border: 1px solid #EDEDE9;
}

.driver__wrapper{
  margin-top: 8px;
}
.name {
  display: inline-block;
  font-weight: 700;
  color: #455360;
}
.role{
  color: #9D9D9D;
}
.line2{
  margin-top: 125px;
  border: 1px solid #EDEDE9;
}

